*{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table{
    width: 100%;
    border-collapse:collapse;
}

section{
    display: block;
    overflow: hidden;
}

/* Header */
header #burger_menu{
    display: none;
}

header .menu{
    z-index: 999;
    width: 100%;
    background-position-y: -125px;
}

#home{
    height: 100vh;
}

#home div h1{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    text-align: center;
    color: white;
}

header .nav_bar{
    text-align: center;
    padding: 2% 0;
    background: #000;
}

header .nav_bar li{
    list-style: none;
    display: inline-block;
    /*margin-right: 2%;*/
}

header .nav_bar li:last-child{
    margin-right: 0;
}


header .nav_bar li a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    border-radius: 4px;
    padding: 0.6em 0.85em;
}

header .nav_bar li a:hover{
    background: rgba(255,255,255,0.15);
}

/* Universal */

.page-landing #banner
{
    /*padding:0 0 8em 0;*/
    background-color:#3D3E53;
    text-align:center;
    color:#fff;
    cursor:default;
    position:relative;
    overflow:hidden;
    height: 100vh;}

.page-landing #items
{
    padding:5em 0;
    text-align:center}

.page-landing #banner {
    background-image: url("../images/banner.jpg");
    background-position: center center;
}

.body_item{
    background: #e8e8e8;
    overflow: auto;
}

.body_item .presentation{
    width: 60%;
    margin: 5% auto 0 auto;
    overflow: auto;
    padding-top: 3%;
}

.body_item .presentation h1{
    font-size: 1.5rem;
    margin-bottom: 2%;
}

/* Index */

.triple_items{
    padding: 5% 10% 0% 10%;
    overflow: auto;
}

.triple_items .title{
    margin-bottom: 2%;
    text-align: left;
}

.triple_items .title .content_title{
    font-size: 2rem;
    font-weight: bold;
}

.triple_items .linkto{
    margin-top: 2%;
    margin-bottom: 5%;
}

.triple_items .linkto .content_link{
    text-align: center;
}

.triple_items .linkto a{
    text-decoration: none;
    background: inherit;
    color: #662200;
    border-radius: 5px;
    border: solid 2px #662200;
    padding: 1%;
    display: block;
    width: 15%;
    font-size: 1.2rem;
    margin: auto;
    text-transform: uppercase;
}

.triple_items .linkto a:hover {
    transition: 0.5s;
    color: white;
    background: #662200;
}

.triple_items .item{
    width: 30%;
    float: left;
    background: white;
    border-radius: 4px;
    border: solid 5px transparent;
}

.triple_items div{
    overflow: auto;
}

.triple_items .item header{
    overflow: auto;
    padding: 3%;
}

.triple_items .item header h1{
    float: left;
    font-size: 1.2rem;
    font-weight: 400;
}

.triple_items .item header span{
    float: right;
    font-size: 1.2rem;
    color: #a0a0a0;
}

/*.triple_items .item:nth-child(2){
    margin: 0 3%;
}*/


/* connection back */

.connexion_back{
    width: 100%;
    color: #2f3b4c;
}

.connexion_back div{
    width: 40%;
    margin: 10% auto;
    background: #f7f7f7;
    border: solid 1px rgba(200,200,200,0.75);
}

.connexion_back div h2{
    margin: 5% 0;
    padding: 2% 5%;
    color: white;
    background: #7cab0e;
    text-transform: uppercase;
}

.connexion_back div form input{
    font-size: 1.2rem;
}

.connexion_back div form div input{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    background: #f1f1f1;
    border: none;
    width: 90%;
    color: black;
}

.connexion_back div form div{
    width: 80%;
    margin: 5% auto;
    position: relative;
    border: solid 1px rgba(200,200,200,0.75);
    border-radius: 2px;
}

.connexion_back div form div i{
    font-size: 1.2rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding-top: 2%;
    padding-left: 2%;
}

.connexion_back div form input:nth-child(3){
    display: block;
    width: 50%;
    padding: 2%;
    margin: 8% auto;
    text-transform: uppercase;
    color: white;
    background: #7cab0e;
    border: solid 1px rgba(200,200,200,0.75);
    border-radius: 2px;
}

/* Forum */

.list_subject{
	overflow: auto;
	width: 70%;
	margin: auto;
	margin-top: 2%;
	background: white;
}

.list_subject h2{
	padding: 3%;
	padding-bottom: 0;
}

.list_subject table{
	 overflow: auto;
	 width: 95%;
	 margin: 2%;
	 border: solid 1px #036f8c;
	 border-radius: 5px;
	 border-collapse: separate;
	border-spacing: 0;
 }

.list_subject thead{
	overflow: auto;
	width: 95%;
	margin: 2%;
	border: solid 1px #036f8c;
	border-radius: 3px;
}
.list_subject table thead tr{
	position: relative;
	background: #036f8c;
	color: white;
	margin-bottom: 100px;
}

.list_subject table thead tr:nth-child(2){
    /*display: none;*/

}
.list_subject table thead tr th {
	padding: 9px 6px ;

}

.list_subject table thead tr th a{
	color: white;
	display: block;
	padding: 9px 6px ;
	margin-bottom: 12%;
}

.list_subject table tbody tr{
	position: relative;
	border-bottom: solid 1px #a0a0a0;
}

.list_subject table tbody tr:nth-child(2n){
	background-color: rgba(3,111,140,0.5);

}

.list_subject table tbody tr td {
	padding: 9px 6px;
}


.list_subject table tbody tr td a{
	color: black;
	display: block;
	margin: 9px 6px;
}

.list_subject .back_link{
	margin: 3%;
	width: 97%;
}

.list_subject .back_link a{
	color: #a0a0a0;
}

.list_subject thead {
    max-width: 20%;
}


/* Connexion/Inscription */

.form_user{
    width: 60%;
    margin: 0 auto;
    overflow: auto;
}

.form_user input{
    font-size: 1.2rem;
}

.form_user .validate,.send_commentaries{
    margin: 2% auto;
    width: 30%;
    color: #009900;
    background: white;
    border: solid 2px #009900;
    text-transform: uppercase;
    padding: 2%;
    display: block;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.5s;
}

.form_user .validate:hover, .send_commentaries:hover{
    color: white;
    background: #009900;
    transition: 0.5s;
}

.form_user div input{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    background: #f1f1f1;
    border: none;
    color: black;
    width: 82%;
}

.form_user>div{
    width: 80%;
    margin: 5% auto;
    position: relative;
    border: solid 1px rgba(200,200,200,0.75);
    border-radius: 2px;
    background: #f1f1f1;
}

.form_user div>i{
    font-size: 1.2rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding-top: 2%;
    padding-left: 2%;
}

.form_user div label{
    display: block;
    font-size: 1.2rem;
    padding: 3%;
}

.form_user div label i{
    margin-right: 5%;
}

.form_user>div .editor_span{
    display: block;
    font-size: 1.2rem;
    margin: 2%;
}

/* Galerie */

.img_list{
    margin: 0 12% 0 10%;
    overflow: auto;
}

.img_list div{
    width: 23%;
    float: left;
    margin-left: 2%;
    margin-top: 2%;
    position: relative;
    height: 250px;
    border-bottom: solid 1px rgba(200,200,200,0.75);
    overflow: hidden;
}

.img_list div img{
    width: 100%;
    height: 100%;
    -webkit-filter: brightness(80%);
    -moz-filter: brightness(80%);
    -o-filter: brightness(80%);
    -ms-filter: brightness(80%);
    filter: brightness(80%);
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.img_list div:hover img{
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.img_list div h4{
    position: absolute;
    color: rgba(255,255,255,0.8);
    top: 30%;
    right: 0;
    left: 0;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
}

.img_list div h4 span{
    display: block;
    width: 35%;
    margin: auto;
    margin-top: 6%;
    border-bottom: solid 1px white;
}

/* Article cliqué */
.article_solo{
    width: 90%;
    margin: 7% auto;
    background: white;
    border-radius: 4px;
    border: solid 5px transparent;
    box-shadow: 4px 4px 14px 0px black;
}

.article_solo header{
    overflow: auto;
    padding: 2%;
}

.article_solo header h1{
    float: left;
    font-size: 1.5rem;
    font-weight: 400;
}

.article_solo header span{
    float: right;
    font-size: 1.2rem;
    color: #a0a0a0;
}

.article_solo .description{
    width: 90%;
    margin: 2% auto;
}

.commentaries header{
    border-bottom: 2px solid #a0a0a0;
}

.commentaries header h2{
    font-size: 1.2rem;
    font-weight: 400;
}

.commentaries .comment{
    overflow: auto;
    border-bottom: 2px solid #a0a0a0;
    padding: 1% 0;
}

.commentaries .comment .profil_area{
    padding: 1%;
    overflow: auto;
    float: left;
    width: 7%;
}

.commentaries .comment .profil_area h4{
    display: block;
    margin-bottom: 1%;
    text-align: center;
}

.commentaries .comment .profil_area img{
    width: 50%;
}

.commentaries .comment .text_area{
    border-left: 1px solid #a0a0a0;
    padding: 2%;
    overflow: auto;
    float: left;
    width: 86%;
}

.comment_forum{
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

/* Profil */

.resume_profil{
    width: 90%;
    margin: 2% auto;
    /*background: white;*/
    border-radius: 4px;
    border: solid 5px transparent;
    overflow: auto;
    padding-top: 5%;
}

.resume_profil header{
    overflow: auto;
    padding: 2%;
}

.resume_profil header h2{
    float: left;
    font-size: 1.5rem;
    font-weight: 400;
}

.resume_profil .private p{
    font-size: 1.5rem;
    margin-bottom: 3%;
    color: #000;
}

.resume_profil .public p{
    font-size: 1.5rem;
    margin-bottom: 3%;
    color: #000;
}

.resume_profil .public p a{
    text-decoration: none;
    background: inherit;
    color: #662200;
    border-radius: 5px;
    border: solid 2px #662200;
    padding: 1%;
    display: block;
    margin: auto;
    width: 22%;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
}

.resume_profil .public p a:hover{
    transition: 0.5s;
    color: white;
    background: #662200;
}

.resume_profil .public span{
    font-size: 1.2rem;
    color: #a0a0a0;
}

.resume_profil .public{
    overflow: auto;
    width: 100%;
    text-align: center;
}

.resume_profil .private{
    overflow: auto;
    width: 100%;
    text-align: center;
    position: relative;
    top: -105px;
    margin-bottom: -90px;
}

.resume_profil .private span{
    font-size: 1.2rem;
    color: #a0a0a0;
}

.image_profile{
    margin-bottom: 5%;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    padding: 10px;
    background: rgba(255,255,255, 0.5);
}

.banner_profile{
    height: 15rem;
    margin-bottom: 5%;
    padding-top: 5%;
    background: url("../images/profile_bg.jpg") no-repeat;
}

.container_profile{
    width: 50%;
    margin: auto;
}

#my_zoom{
    display: none;
    margin: 0;
    padding: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#my_zoom div{
    position: relative;
    width: 80%;
    height: 80%;
    margin: 5% auto 5% auto;
}

#my_zoom div img{
    max-width: 100%;
    max-height: 100%;
}

#my_zoom #Close{
    position: absolute;
    color: white;
    font-size: 2rem;
    top: 2%;
    right: 2%;
    background: transparent;
    border: none;
    cursor: pointer;
    margin: 1%;
}

#my_zoom #Close i{
    display: block;
}

#my_zoom #Close:hover{
    color: #ff3333;
}

.simple_text{
    background: white;
    width: 60%;
    margin: 1% auto;
    border-radius: 3px;
    border: solid 1px #009900;
}

.simple_text p{
    padding: 2%;
    color: #009900;
}

.simple_text a{
    color: #009900;
}

.simple_text a:hover{
    color: #009900;
}

.simple_error{
    background: white;
    width: 60%;
    margin: 1% auto;
    border-radius: 3px;
    border: solid 1px #FF3040;
}

.simple_error p{
    padding: 2%;
    color: #FF3040;
}

.simple_error a{
    color: #FF3040;
}

.simple_error a:hover{
    color: red;
}

.bad_page {
    background: white;
    height: 80vh;
    width: 90%;
    margin: 7% auto;
    text-align: center;
}

.bad_page h1{
    margin: auto;
    padding-top: 30vh;
    font-size: 5rem;
    font-weight: 400;
    color: #a0a0a0;
}


.bad_page p{
    margin: auto;
    font-size: 3rem;
    font-weight: 400;
    color: #a0a0a0;
}

/* FILTERS  */
.filters{
    background-color: rgba(0,0,0,0.9);
    color: #FFF;
    padding: 20px 0px;
    width: 80%;
    display: block;
    margin: 20px auto 40px auto;
    border-radius: 10px;
}
.filters form{
    margin: 0;
    text-align: center;
}
.filters select{
    background-color: rgb(10,10,10);
    border: 1px solid #222;
    color: #FFF;
    padding: 8px 16px;
    line-height: 20px;
    margin-right: 20px;
    -webkit-appearance: none;
    padding-right: 36px;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border-radius: 0px;
}
.filters .text{
    background-color: rgb(10,10,10);
    border: 1px solid #222;
    color: #FFF;
    padding: 8px 16px;
    line-height: 20px;
    margin-right: 20px;
    -webkit-appearance: none;
    padding-right: 36px;
}

input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    background-color: rgb(10,10,10);
    border: 1px solid #222;
    color: #FFF;
    padding: 8px 16px;
    line-height: 20px;
    margin-right: 20px;
    -webkit-appearance: none;
    padding-right: 36px;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border-radius: 0px;
}

.filters .submit{
    padding: 0.6%;
    width: 15%;
    border: 1px solid #222;
    background: inherit;
    cursor: pointer;
    transition: 0.5s;
    color: #e8e8e8;
}

.filters .submit:hover{
    background: #e8e8e8;
    color: #000;
}

.form_user div .radio_newsletter input{
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    background: #f1f1f1;
    border: none;
    width: initial;
    margin-bottom: 3%;
}

.form_user div .radio_newsletter{
    text-align: center;
}

.super_editor label .input_forum{
    display: block;
    width: 100%;
}

div .logo img{
    width: 50%;
    padding-top: 70px;
}

.label-file {
    cursor: pointer;
    color: #00b1ca ;
    font-weight: bold;
}
.label-file:hover {
    color: #25a5c4 ;
}
.input-file {
    display: none;
}

.div-file{
    text-align: center;
    border: none;
    margin: 2%;
}

.main{
    position: absolute;
    top: 0;
    z-index: 9999;
    width: 100%;
}


/** PROFIL**/
.card.block_profile {
    border-radius: 5px;
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card.block_profile .entete {
    background: url("../images/profile.jpg") center center;
    background-size: cover;
    height: 155px;
}

.card.block_profile .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.block_profile .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.block_profile .info {
    padding: 4px 8px 10px;
}

.card.block_profile .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

/* Footer */

footer{
    padding: 5% 10%;
    background: #e8e8e8;
    overflow: auto;
}

footer p{
    text-align: center;
    color: #a0a0a0;
}

/* Responsive Little screen */

@media(max-width: 1050px){

    .triple_items .item {
        width: 70%;
        display: block;
        margin: auto;
        float: initial;
    }

    .triple_items .item:nth-child(2) {
        margin: 5% auto;
    }

    .img_list div {
        width: 31%;
    }

    .triple_items .linkto a{
        width: 25%;
    }

    .list_subject{
        width: 75%;
    }

    .list_subject table thead tr th:nth-child(3){
        display: none;
    }

    .list_subject table tbody tr td:nth-child(3){
        display: none;
    }

}

/* Responsive Tablet */

@media(max-width: 800px){

    .resume_profil{
        margin: 10% auto;
    }

    .list_subject{
        width: 80%;
    }

    .list_subject table thead tr th:nth-child(3),.list_subject table thead tr th:nth-child(4){
        display: none;
    }

    .list_subject table tbody tr td:nth-child(3),.list_subject table tbody tr td:nth-child(4){
        display: none;
    }

    #my_zoom #Close{
        top: 10px;
        right: 1%;
    }

    header #burger_menu{
        display: block;
        background: rgba(0,0,0,0.4);
        text-align: center;
        font-size: 2rem;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }

    header .on{
        color: #a0a0a0 !important;
        background: black !important;
    }

    header .nav_bar{
        display: block;
        width: 100%;
        position: absolute;
        -webkit-transform: translate3d(0,-550px,0);
        transform: translate3d(0,-550px,0);
        transition: all 0.3s;
        z-index: 999;
        background: rgba(0,0,0,0.8) !important;
    }
    header .nav_bar li {
        display: block;
        margin: 2%;
    }
    header .nav_bar li:last-child {
        margin: 2%;
    }

    header .nav_bar li a {
        padding: 1% 0%;
        display: block;
    }
    @media (max-width: 700px)
    {
        .container_profile {
            width: 60%;
        }
    }
    @media (max-width: 600px)
    {
        .container_profile {
            width: 70%;
        }
    }
    @media (max-width: 600px)
    {
        .container_profile {
            width: 85%;
        }
    }
    .open{
        -webkit-transform: translate3d(0,0,0) !important;
        transform: translate3d(0,0,0) !important;
    }

    .img_list div {
        width: 48%;
    }

    .form_user {
        width: 70%;
    }

    .triple_items .linkto a{
        width: 35%;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    /* FILTERS  */
    .filters{
        background-color: rgba(0,0,0,0.9);
        color: #FFF;
        padding: 20px 0px;
        width: 80%;
        display: block;
        margin: 20px auto 40px auto;
        border-radius: 10px;
    }
    .filters form{
        margin: 0;
        text-align: center;
    }
    .filters select{
        width: 40%;
        background-color: rgb(10,10,10);
        border: 1px solid #222;
        color: #FFF;
        padding: 8px 16px;
        line-height: 20px;
        -webkit-appearance: none;
        padding-right: 36px;
        background-repeat: no-repeat;
        background-position: right 8px center;
        border-radius: 0;
        display: block;
        margin: 2% auto;
    }
    .filters .text{
        background-color: rgb(10,10,10);
        border: 1px solid #222;
        color: #FFF;
        padding: 8px 16px;
        line-height: 20px;
        margin-right: 20px;
        -webkit-appearance: none;
        padding-right: 36px;
    }

    input[type=text] {
        width: 40%;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        background-color: rgb(10,10,10);
        border: 1px solid #222;
        color: #FFF;
        padding: 8px 16px;
        line-height: 20px;
        -webkit-appearance: none;
        padding-right: 36px;
        background-repeat: no-repeat;
        background-position: right 8px center;
        border-radius: 0;
        display: block;
        margin: 2% auto;
    }

    .filters .submit{
        padding: 3% 0;
        width: 40%;
        border: 1px solid #222;
        background: inherit;
        cursor: pointer;
        transition: 0.5s;
    }

    .filters .submit:hover{
        background: #e8e8e8;
        color: #000;
    }

    .resume_profil .public{
        text-align: center;
        width: 100%;
    }
    .resume_profil .public img{
        float: initial;
    }

    .resume_profil .public p a{
        margin: auto;
    }

    .resume_profil .private{
        overflow: auto;
        width: 100%;
        text-align: center;
    }

    div .logo img{
        width: 100%;
    }

    .connexion_back div {
        width: 100%;
    }

    .connexion_back div form div {
        width: 100%;
    }

    .form_user .validate {
        width: 100%;
        padding: 5%;
    }

    .commentaries .comment .profil_area img {
        display: none;
    }

    .commentaries .comment .profil_area {
        width: 95%;
    }

    .article_solo{
        margin: 15% auto;
    }
}

/* Responsive Phone */

@media (max-width: 450px){

    .image_profile {
        width: 100px;
        height: 100px;
        margin-top: 15%;
    }

    .img_list div {
        width: 98%;
    }

    .form_user {
        width: 90%;
    }

    .triple_items .linkto a{
        width: 45%;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    /* FILTERS  */
    .filters{
        background-color: rgba(0,0,0,0.9);
        color: #FFF;
        padding: 20px 0px;
        width: 80%;
        display: block;
        margin: 20px auto 40px auto;
        border-radius: 10px;
    }
    .filters form{
        margin: 0;
        text-align: center;
    }
    .filters select{
        width: 40%;
        background-color: rgb(10,10,10);
        border: 1px solid #222;
        color: #FFF;
        padding: 8px 16px;
        line-height: 20px;
        -webkit-appearance: none;
        padding-right: 36px;
        background-repeat: no-repeat;
        background-position: right 8px center;
        border-radius: 0;
        display: block;
        margin: 2% auto;
    }
    .filters .text{
        background-color: rgb(10,10,10);
        border: 1px solid #222;
        color: #FFF;
        padding: 8px 16px;
        line-height: 20px;
        margin-right: 20px;
        -webkit-appearance: none;
        padding-right: 36px;
    }

    input[type=text] {
        width: 40%;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        background-color: rgb(10,10,10);
        border: 1px solid #222;
        color: #FFF;
        padding: 8px 16px;
        line-height: 20px;
        -webkit-appearance: none;
        padding-right: 36px;
        background-repeat: no-repeat;
        background-position: right 8px center;
        border-radius: 0;
        display: block;
        margin: 2% auto;
    }

    .filters .submit{
        padding: 3% 0;
        width: 40%;
        border: 1px solid #222;
        background: inherit;
        cursor: pointer;
        transition: 0.5s;
        color: white;
    }

    .filters .submit:hover{
        background: #e8e8e8;
        color: #000;
    }

    .resume_profil .public p a{
        width: 50%;
        padding: 4%;
        margin-top: 5%;
    }

    .list_subject{
        width: 90%;
    }

    .list_subject table thead tr th:nth-child(3),.list_subject table thead tr th:nth-child(4),.list_subject table thead tr th:nth-child(5){
        display: none;
    }

    .list_subject table tbody tr td:nth-child(3),.list_subject table tbody tr td:nth-child(4),.list_subject table tbody tr td:nth-child(5){
        display: none;
    }

    .body_item .presentation {
        width: 60%;
        margin: 5% auto 0 auto;
        overflow: auto;
        padding-top: 10%;
    }
}


/* Print */

@media print{
    @font-face {
        font-family: "ecofont vera sans";
        src: url("../fonts/ecofont_vera_sans_regular.ttf");
    }

    @page {
        margin: 10%;
        size: a4;
    }

    * {
        font-family: "ecofont vera sans";
        color: black;
    }

    img {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    a{
        color: black;
        text-decoration: none;
    }

    ul li{
        list-style: none;
    }

    .body_item{
        min-height: 0;
    }

}
