*{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

img{
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

table{
	width: 100%;
	border-collapse:collapse;
}

section{
	display: block;
	overflow: hidden;
}

/* Header */

.top_line{
	display: flex;
	background: #1c1c4a;
	justify-content: space-between;
	padding: 1% 3%;
}

.top_line p{
	vertical-align: middle;
	color: white;
	text-transform: uppercase;
	padding: 0.5% 0%;
}

.top_line span{
	color: #ffa31a;
}

.top_line button{
	cursor: pointer;
	vertical-align: middle;
	color: white;
	background: transparent;
	padding: 0.2% 2%;
	border: solid 1px #ffffe6;
	border-radius: 1px;
	text-transform: uppercase;
}

.top_line button:hover{
	color: #1c1c4a;
	background: #ffffe6;
	border: solid 1px #1c1c4a;
}

#burger_menu{
	display: none;
}

.nav_bar{
	display: block;
	width: 20%;
	float: left;
}

.nav_bar li{
	list-style: none;
}

.nav_bar li i{
	width: 25%;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

.nav_bar li a{
	display: block;
	text-decoration: none;
	color: #bec1d0;
	padding: 5% 0%;
	border-left: solid 5px transparent;
}

.nav_bar li a span{
	display: inline-block;
	vertical-align: middle;
	width: 75%;
}

.nav_bar li a:hover{
	color: #ffa31a;
	border-left: solid 5px #ffa31a;
}

.nav_bar li a.active {
	color: #ffa31a;
	border-left: solid 5px #ffa31a;
}

/* Loader */

#loader {
	margin: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/loader.gif) 50% 50% no-repeat rgba(249,249,249,0.8);
}

/* Index */

.information_panel{
	width: 80%;
	float: right;
	background: #eff3f6;
	position: relative;
	min-height: 100vh;
}

.information_panel div{
	overflow: auto;
}

.information_panel div h2{
	display: block;
	padding: 2% 3%;
	color: #2f3b4c;
	font-weight: normal;
	font-size: 1.2rem;
}

.information_panel>div{
	margin: 3%;
}

.information_panel .path{
	font-size: 0.8rem;
	color: #bec1d0;
	background: #efedee;
	padding: 1% 3%;
	margin: 0%;
}

.information_panel .four_icon div{
	width: 23.5%;
	float: left;
	margin-right: 2%;
	position: relative;
	height: 200px;
	border-bottom: solid 1px rgba(200,200,200,0.75);
}

.information_panel .four_icon div:nth-child(1){
	background: #ff3333;
}

.information_panel .four_icon div:nth-child(2){
	background: #c653c6;
}

.information_panel .four_icon div:nth-child(3){
	background: #ffa31a;
}

.information_panel .four_icon div:nth-child(4){
	background: #00b33c;
	margin-right: 0%;
}

.information_panel .four_icon div i{
	position: absolute;
	color: white;
	top: 7%;
	left: 7%;
	font-size: 1rem;
}

.information_panel .four_icon div h2{
	position: absolute;
	color: rgba(255,255,255,0.8);
	top: 20%;
	right: 0;
	left: 0;
	text-align: center;
	padding: inherit;
	margin: auto;
	text-transform: uppercase;
}

.information_panel .four_icon div h2 span:nth-child(1){
	display: block;
	margin-bottom: 4%;
	font-size: 2rem;
	color: white;
}

.information_panel .four_icon div h2 span:nth-child(2){
	display: block;
	width: 35%;
	margin: auto;
	margin-top: 4%;
	border-bottom: solid 1px white;
}

.information_panel .stats_graph{
	height: 300px;
	background: white;
	border-bottom: solid 1px rgba(200,200,200,0.75);
}

.information_panel .more_information div{
	width: 48%;
	float: left;
	background: white;
	border-bottom: solid 1px rgba(200,200,200,0.75);
}

.information_panel .more_information div:nth-child(1){
	margin-right: 4%;
}

.information_panel .more_information div h2{
	padding: 2% 6%;
}

.information_panel .more_information div .six_columns caption{
	padding: 2% 6%;
	font-size: 1.2rem;
}

.information_panel .more_information div .six_columns{
	font-size: 0.8rem;
}

.information_panel .more_information div .six_columns thead tr th{
	padding: 1%;
}

.information_panel .more_information div .six_columns tbody tr td{
	padding: 1%;
}

.information_panel .more_information div .six_columns tbody tr td span {
	width: 90%;
}

.information_panel .more_information div .view_more{
	width: 30%;
	font-size: 1rem;
}

/* Users */

.information_panel .only_one{
	width: 80%;
	background: white;
	margin-left: auto;
	margin-right: auto;
	border-right: solid 1px rgba(200,200,200,0.75);
	border-left: solid 1px rgba(200,200,200,0.75);
	border-bottom: solid 1px rgba(200,200,200,0.75);
}

.information_panel .six_columns{
	color: #2f3b4c;
}

.information_panel .six_columns caption{
	font-size: 2rem;
	text-align: left;
	padding: 3%;
}

.information_panel .six_columns caption a{
	background: none;
	border: none;
	float: right;
	font-size: inherit;
	color: #00b33c;
	cursor: pointer;
	text-decoration: none;
}

.information_panel .six_columns thead{
	background: #efedee;
}

.information_panel .six_columns thead tr{
	border-top: solid 1px rgba(200,200,200,0.75);
	border-bottom: solid 1px rgba(200,200,200,0.75);
}

.information_panel .six_columns thead tr th{
	padding: 2%;
	text-align: left;
}

.information_panel .six_columns thead tr .important_one{
	width: 30%;
}

.information_panel .six_columns tbody{

}

.information_panel .six_columns tbody tr{
	border-top: solid 1px rgba(200,200,200,0.75);
	border-bottom: solid 1px rgba(200,200,200,0.75);
}

.information_panel .six_columns tbody tr td{
	padding: 2%;
	text-align: left;
	position: relative;
}

.information_panel .six_columns tbody tr td span{
	padding: 5%;
	color: white;
	width: 60%;
	display: inline-block;
	text-align: center;
	border: none;
}

.information_panel .six_columns tbody tr td .pending{
	background: #ffa31a;
}

.information_panel .six_columns tbody tr td .done{
	background: #00b33c;
}

.information_panel .six_columns tbody tr td .rejected{
	background: #ff3333;
}

.information_panel .six_columns tbody tr td a:nth-child(2){
	background: none;
	border: none;
	font-size: inherit;
	position: absolute;
	cursor: pointer;
	color: #ffa31a;
	right: 20%;
	top: 35%;
}

.information_panel .six_columns tbody tr td a:nth-child(3){
	background: none;
	border: none;
	font-size: inherit;
	position: absolute;
	cursor: pointer;
	color: #ff3333;
	right: 5%;
	top: 35%;
}


.information_panel .six_columns tbody tr td button{
	background: none;
	border: none;
	font-size: inherit;
	position: absolute;
	cursor: pointer;
	color: #ff3333;
	right: 5%;
	top: 35%;
}


.information_panel .view_more{
	margin: 2% auto;
	width: 30%;
	color: white;
	background: #ffa31a;
	border: none;
	text-transform: uppercase;
	padding: 2%;
	display: block;
	font-size: 1.2rem;
	cursor: pointer;

	/* In case the button is a link(<a>) */
	text-decoration: none;
	text-align: center;
}

/* Medias */

.information_panel .all_icon{
	margin-left: 0;
	margin-right: 2%;
}

.information_panel .all_icon h1{
	font-weight: normal;
	margin-top: 3%;
	margin-bottom: 2%;
	margin-left: 2%;
}

.information_panel .all_icon h1 span{
	padding: 0 3%;
	color: #ffa31a;
	border-left: solid 5px #ffa31a;
}

.information_panel .all_icon h1 button {
	background: none;
	border: none;
	float: right;
	font-size: inherit;
	color: #00b33c;
	cursor: pointer;
	margin-right: 5%;
}

.information_panel .all_icon div{
	width: 23%;
	float: left;
	margin-left: 2%;
	margin-top: 2%;
	position: relative;
	height: 250px;
	border-bottom: solid 1px rgba(200,200,200,0.75);
	overflow: hidden;
}

.information_panel .all_icon div img{
	width: 100%;
	height: 100%;
	-webkit-filter: brightness(80%);
	-moz-filter: brightness(80%);
	-o-filter: brightness(80%);
	-ms-filter: brightness(80%);
	filter: brightness(80%);
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.information_panel .all_icon div:hover img{
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

.information_panel .all_icon div i{
	position: absolute;
	color: white;
	font-size: 1rem;
}

.information_panel .all_icon div .fa-camera{
	top: 7%;
	left: 7%;
}

.information_panel .all_icon div .fa-search{
	top: 7%;
	right: 7%;
}

.information_panel .all_icon div .fa-trash{
	bottom: 7%;
	right: 7%;
}

.information_panel .all_icon div .fa-search:hover{
	color: #ffa31a;
}

.information_panel .all_icon div .fa-trash:hover{
	color: #ff3333;
}

.information_panel .all_icon div button{
	cursor: pointer;
}

.information_panel .all_icon div h2{
	position: absolute;
	color: rgba(255,255,255,0.8);
	top: 30%;
	right: 0;
	left: 0;
	text-align: center;
	margin: auto;
	text-transform: uppercase;
}

.information_panel .all_icon div h2 span{
	display: block;
	width: 35%;
	margin: auto;
	margin-top: 6%;
	border-bottom: solid 1px white;
}

#my_zoom{
	display: none;
	margin: 0;
	padding: 0;
	background: rgba(0,0,0,0.5);
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#my_zoom div{
	position: relative;
	width: 80%;
	height: 80%;
	margin: 5% auto 5% auto;
}

#my_zoom div img{
	max-width: 100%;
	max-height: 100%;
}

#my_zoom #Close{
	position: absolute;
	color: white;
	font-size: 2rem;
	top: 2%;
	right: 2%;
	background: transparent;
	border: none;
	cursor: pointer;
	margin: 1%;
}

#my_zoom #Close i{
	display: block;
}

#my_zoom #Close:hover{
	color: #ff3333;
}

/* stats */

.information_panel .statistics{
	height: 350px;
	background: white;
}

/* connexion */

.connexion_back{
	width: 100%;
	color: #2f3b4c;
}

.connexion_back div{
	width: 40%;
	margin: 10% auto;
	background: #f7f7f7;
	border: solid 1px rgba(200,200,200,0.75);
}

.connexion_back div h2{
	margin: 5% 0;
	padding: 2% 5%;
	color: white;
	background: #7cab0e;
	text-transform: uppercase;
}

.connexion_back div form input{
	font-size: 1.2rem;
}

.connexion_back div form div input{
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 10%;
	background: #f1f1f1;
	border: none;
	width: 90%;
}

.connexion_back div form div{
	width: 80%;
	margin: 5% auto;
	position: relative;
	border: solid 1px rgba(200,200,200,0.75);
	border-radius: 2px;
}

.connexion_back div form div i{
	font-size: 1.2rem;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	padding-top: 2%;
	padding-left: 2%;
}

.connexion_back div form input:nth-child(3){
	display: block;
	width: 50%;
	padding: 2%;
	margin: 8% auto;
	text-transform: uppercase;
	color: white;
	background: #7cab0e;
	border: solid 1px rgba(200,200,200,0.75);
	border-radius: 2px;
}

/* Create/Modify something */

.information_panel .only_one h2{
	font-size: 2rem;
	text-align: left;
	padding: 3%;
}

.major_form{
	margin-bottom: 3%;
	overflow: auto;
}

.major_form div{
	overflow: hidden;
	border-top: solid 1px rgba(200,200,200,0.75);
	border-bottom: solid 1px rgba(200,200,200,0.75);
}

.major_form div:last-child{
	border: none;
}

.major_form>div>span{
	font-size: 1.2rem;
	display: inline-block;
	width: 25%;
	text-align: right;
}

.major_form div .editor_span{
	margin-top: 2%;
}

.major_form div input{
	font-size: 1.2rem;
	margin: 2% 5%;
	padding: 1%;
	width: 50%;
}

.major_form div input[type="radio" i] {
	width: inherit;
	margin-right: 1%;
	cursor: pointer;
}

.cke_inner{
	width: 80% !important;
	margin: 1% auto !important;
	border: solid 1px rgba(200,200,200,0.75) !important;
}

/* Responsive Little screen */

@media(max-width: 1050px){

	.information_panel .more_information div:nth-child(1) {
		margin-right: 0;
		margin-bottom: 3%;
	}
	.information_panel .more_information div {
		width: 100%;
	}

	.information_panel .all_icon div {
		width: 48%;
	}

	.information_panel .six_columns {
		font-size: 0.8rem;
	}

}

/* Responsive Tablet */

@media(max-width: 800px){

	#burger_menu{
		display: block;
		background: white;
		text-align: center;
		font-size: 2rem;
		color: #bec1d0;
	}

	.on{
		color: #ffa31a !important;
		background: #efedee !important;
	}

	.nav_bar{
		display: block;
		height: inherit;
		width: 100%;
		position: absolute;
		-webkit-transform: translate3d(0,-600px,0);
		transform: translate3d(0,-600px,0);
		transition: all 0.3s;
		z-index: 999;
		background: white;
	}
	.nav_bar li a {
		padding: 3% 0%;
	}

	.open{
		-webkit-transform: translate3d(0,0,0) !important;
		transform: translate3d(0,0,0) !important;
	}

	.information_panel{
		width: 100%;
	}

	.information_panel .four_icon div{
		width: 48%;
		margin-right: 4%;
	}

	.information_panel .four_icon div:nth-child(1){
		margin-bottom: 3%;
	}

	.information_panel .four_icon div:nth-child(2){
		margin-bottom: 3%;
		margin-right: 0%;
	}

	.information_panel .four_icon div:nth-child(4){
		margin-right: 0%;
	}

	.information_panel .only_one {
		width: 95%;
	}

	.information_panel .six_columns thead tr th {
		padding: 1%;
	}

	.information_panel .six_columns tbody tr td {
		padding: 1%;
	}

	.connexion_back div{
		width: 60%;
		margin: 15% auto;
	}

	#my_zoom #Close{
		top: 10px;
		right: 1%;
	}

	.major_form>div>span{
		width: 30%;
	}
}

/* Responsive Phone */

@media (max-width: 450px){

	.information_panel .four_icon div {
		width: 100%;
		margin-right: 0;
	}

	.information_panel .four_icon div:nth-child(3) {
		margin-bottom: 3%;
	}

	.information_panel .all_icon div {
		width: 98%;
	}

	.information_panel .more_information div .six_columns {
		font-size: 0.6rem;
	}

	.information_panel .more_information div .view_more {
		width: 50%;
	}

	.information_panel .six_columns {
		font-size: 0.6rem;
	}

	.information_panel .six_columns caption{
		font-size: 1.5rem;
	}

	.information_panel .view_more {
		width: 50%;
	}

	.connexion_back div{
		width: 90%;
	}

	.major_form>div>span{
		display: block;
		width: 95%;
		text-align: left;
		margin: 2% 0 2% 5%;
	}

	.major_form div input{
		margin-left: 10%;
	}

}
